.d-grid-first {
    display: grid;
    grid-template-columns: [start-line] 1fr [second-line] 200px [third-line] 1fr [end-line];
    border: 1px solid black;
}
.d-grid-second {
    display: grid;
    grid-template-columns: [start-line] 1fr [second-line] 200px [third-line] 1fr [end-line];
    border: 1px solid black;
}
.d-grid-second div:nth-child(1) {
    grid-column: start-line/end-line;
}

.d-grid-second div:nth-child(2) {
    grid-row: second-line/end-line;
}
.d-grid-second {
    grid-template-rows: [start-line] 1fr [second-line] 200px
    [third-line] 1fr [fourth-line] 1fr [fivth-line] 1fr [end-line];
}

.d-grid-second div:nth-child(11){
    grid-column: span 3;
}


